{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}

<h1>{{ tag.name }}</h1>

<ul>
  {% for post in tag.posts %}
  <li><a href="{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<form>
  <button formmethod="GET"
          formaction="/{{ tag.id }}/edit"
          class="btn btn-primary">Edit
  </button>
  <button formmethod="POST"
          formaction="/{{ tag.id }}/delete"
          class="btn btn-danger">Delete
  </button>

</form>
{% endblock %}